body, div, h1, h2, h3, p{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: #e3f5f6;
    padding: 10px;
}
.title{
    padding: 10px;
    background-color: #a5cdf6;
    border-radius: 10px;
    box-shadow: #8bb6f3 5px 5px;
    margin-bottom: 10px;
    text-align: center;
}
.post{
    background-color: #f4fcb0;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: #8bb6f3 5px 5px;
    margin-bottom: 10px;
}
.post h2,h3{
    margin-bottom: 10px;
}
.comments{
    border-radius: 10px;
    box-shadow: #8bb6f3 5px 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 10px;
    padding: 10px 0;
}
.comment{
    width: 19%;
    background-color: #f4fcb0;
    border-radius: 5px;
    box-shadow: #b6d0f6 3px 3px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}
.comment div {
    font-weight: 700;
    margin-bottom: 10px;
}
