body, div, h1, h2, h3, p{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e3f5f6;
    padding: 10px 0 15px;
    row-gap: 15px;
}
.title{
    padding: 10px;
    background-color: #a5cdf6;
    border-radius: 10px;
    box-shadow: #8bb6f3 5px 5px;
    margin-bottom: 10px;
    width: 93.33%;
    text-align: center;
}
.user{
    width: 45%;
    color: #161e50;
    background-color: #f4fcb0;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: #8bb6f3 5px 5px;
    position: relative;
    overflow: hidden;
    transition: background-color ease-in-out 0.4s, color ease-in-out 0.4s;
}
.user:hover{
    background-color: rgba(255, 255, 0, 0.4);
    box-shadow: #5194f1 5px 5px;
    color: #2a46fd;
}
.user:hover a{
    right: 3%;
}

a{
    position: absolute;
    right: -50px;
    bottom: 25%;
    transition: right ease-in-out 0.4s;
}
svg{
    fill: #161e50;
    transition: fill ease-in-out 0.4s;
}
svg:hover{
    fill: #2a46fd;
}
.display-none{
    display: none;
}

@media (min-width:577px) and (max-width:768px){
    .user{
        padding: 20px 10px;
        text-align: start;
    }
}
@media (max-width:576px){
    .title{
        width: 90%;
    }
    .user{
        width: 90%;
    }
}
